@use '../helper' as *;

.crew {
    background-image: linear-gradient(to right, #0b0d176e, #0b0d176e),
        url('/src/img/crew/background-crew-desktop.jpg');
    @include background-img;
    justify-content: flex-end;
}

.crew .content {
    height: 100vh;
    align-items: flex-end;

    &__info {
        width: 100vw;
        height: 100vh;
    }

    .content-description {
        justify-self: start;
        justify-content: start;
        padding-top: 43vh;
        padding-left: 16rem;
    }

    .description-position {
        margin-bottom: 1.5rem;
    }

    .description-name {
        margin-bottom: 2rem;
        white-space: nowrap;
    }

    .description-body {
        width: 45rem;
        margin-bottom: 10rem;
    }

    .slider-dots {
        grid-auto-flow: row;
        width: 16rem;
        bottom: 12vh;
    }

    .dot {
        transition: all 0.2s;
        height: 1.5rem;
        width: 1.5rem;
        background: #9797974d;
        border-radius: 100rem;
        cursor: pointer;
    }

    .dot:hover {
        background: #979797;
    }

    .dot.active {
        background: $color-300;
    }

    .content-img {
        align-self: end;
    }

    @media (width >= 117rem) {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content-description {
            padding-left: 35rem;
        }
        .link-text {
            font-size: $fs-DT1-200;
        }
        .content__info {
            width: 192rem;
        }
    }

    @media (width <= 74rem) {
        .content-description {
            padding-left: 12rem;
        }
        .description-body {
            width: 40rem;
        }
        .content-img {
            padding: 0 4rem;
        }
    }

    @media (width <= 59rem) {
        padding-top: 20rem;

        &__info {
            height: inherit;
            grid-template-columns: 1fr;
            justify-items: center;
        }
        .content-description {
            align-items: center;
            justify-self: center;
            padding: 23rem 0 0 0;
        }

        .description-position {
            text-align: center;
        }

        .description-name {
            text-align: center;
        }

        .description-body {
            text-align: center;
            width: 60rem;
            margin-bottom: 2rem;
        }

        .content-img img {
            height: 50vh;
        }

        .slider-dots {
            justify-items: center;
            position: unset;
            justify-self: center;
            width: 10rem;
            margin-bottom: 5rem;
        }

        .dot {
            height: 1rem;
            width: 1rem;
        }
    }

    @media (width <= 41rem) {
        .content-img {
            margin-top: 12rem;
            grid-row: 1/2;
            width: 90%;
            display: flex;
            justify-content: center;
            border-bottom: solid 0.5px #9797974d;
            padding: 0;
        }
        .content-img img {
            height: 20rem;
            margin-top: 3rem;
        }

        .description-body {
            width: 32.7rem;
            height: 18rem;
        }

        .slider-dots {
            order: -1;
            margin-bottom: 3rem;
        }

        .content-description {
            padding-top: 3rem;
        }

        .description-position {
            margin-bottom: 1rem;
        }

        .description-name {
            margin-bottom: 0.5rem;
        }

        @media (height<=50rem) {
            .content-description {
                padding-top: 2rem;
            }
            .slider-dots {
                margin-bottom: 2rem;
            }
        }
    }
}

@media (width <= 59rem) {
    .crew {
        background-image: linear-gradient(to right, #0b0d176e, #0b0d176e),
            url('/src/img/crew/background-crew-tablet.jpg');
    }
}
